/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/*Стилизация svg сердца*/

/*Дефолтное состояние*/
.like-icon .heart__fill {
  fill: transparent;
  transition: fill 0.3s linear 0s; /*При уходе курсора задержки нет*/
}

.like-icon .heart__cross {
  fill: transparent;
  transition: fill 0.3s linear 0.03s; /*При уходе курсора задержка 0.03s*/
}

/*Ховер*/
.like-icon:hover .heart__fill {
  fill: var(--heart-hover-color);
  transition-delay: 0.05s; /*При ховере задержка 0.05s*/
}

.like-icon:hover .heart__cross {
  fill: var(--heart-hover-color);
  transition-delay: 0s;   /*При наведении задержки нет*/
}

/*Удержание*/
.like-icon:active .heart__cross {
  fill: var(--heart-active-color);
  transition-delay: 0s; /*Такая же задержка как при ховере*/
}

.like-icon:active .heart__fill {
  fill: var(--heart-active-color);
  transition-delay: 0.05s; /*Такая же задержка как при ховере*/
}                                                                 /*Всё выше исправлено после первого ревью*/

/*Контур*/
.like-icon .heart__outline {
  fill: var(--heart-outline-color);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

/*Клик*/
/*Сердце*/
.like-icon.is-liked .heart {
  animation-name: heart-icon-heart-liked;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-delay: 0.1s;
  transform-origin: center
}

@keyframes heart-icon-heart-liked {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

/*Искры (лучи)*/
.like-icon.is-liked .heart__sparks {
  animation-name: heart-icon-rays-liked;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-delay: 0.3s;
}

@keyframes heart-icon-rays-liked {
  0% {
    fill: transparent;
  }
  100% {
    fill: var(--heart-animation-fill-color);
  }
}

/*Заливка сердца*/

.like-icon.is-liked .heart__fill {
  fill: var(--heart-animation-fill-color);
}

.like-icon.is-liked .heart__cross {
  fill: var(--heart-animation-fill-color);
}

.like-icon.is-liked .heart__outline {
  fill: var(--heart-animation-fill-color);
  transition: fill 0.1s linear;
}