/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  margin: auto;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-text-font-family), sans-serif;
  font-weight: var(--main-page-text-font-weight, 400);
  font-variation-settings: "wght" var(--main-page-text-font-weight, 400);
}

/*Шапка*/

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-block: clamp(7.5rem, 0.751vw + 7.324rem, 8rem);
  padding-inline: clamp(0.875rem, 9.953vw - 1.458rem, 7.5rem);
  background-color: aquamarine;
  margin-block-start: 100px;
  margin-block-end: 100px;
  font-family: var(--accented-text-font-family), sans-serif;
  text-transform: uppercase;
  border: 2px solid #000;
}

.header__logo {
  font-size: var(--header-logo-font-size);
}

.header__title {
  font-size: var(--header-title-font-size);
}

/*Контейнер*/

.articles-container {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.articles-list {
  display: flex;
  flex-direction: column;
  gap: 50px; /*TODO кое-где 52px*/
}

.save-button {
  padding: 15px 20.5px 15px 19.5px;
  background-color: var(--save-button-bg-color);
  font-family: var(--accented-text-font-family);
  font-size: var(--save-button-font-size);
  inline-size: fit-content;
}

/*Article*/

.article {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  font-size: var(--article-text-font-size);
}

.article__title {
  padding: 4px 10px 6px 10px;
  font-size: inherit;
  font-variation-settings: "wght" var(--article-title-font-weight, 700);
}

.article__image {
  border: 2px solid #000;
}

.article__text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px 27px;
}

.article__text {
              /*TODO если надо, удалить*/
}


/*Кнопка like*/

.article-like-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 12px;
  padding-right: 25px;
  padding-bottom: 25px;
}

