/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {

  /*Шрифты*/
  --main-text-font-family: 'Inter';
  --accented-text-font-family: 'Press Start 2P';

  --article-title-font-weight: 700;
  --main-page-text-font-weight: 400;

  --header-logo-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --article-text-font-size: 18px;
  --buttons-font-size: 14px;
  --article-label-font-size: 14px;
  --dialog-title-font-size: 14px;

  --article-title-line-height: 123%;
  --article-title-desktop-line-height: 120%;
  --buttons-line-height: 90%;
  --dialog-text-line-height: 150%;

  /*Фон и цвета*/

  --page-bg-img: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);
  --header-bg-color: #fff;
  --article-bg-color: #fff;
  --button-bg-color: #fff;
  --save-button-bg-color: #fff;
  --label-text-shadow-color: #fff;

  --borders-color: #000;

  /*Сердце*/

  --heart-outline-color: #000;
  --heart-hover-color: #000;
  --heart-active-color: rgb(255, 0, 0);
  --heart-animation-fill-color: rgb(255, 0, 0);

}